<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <mat-form-field>
            <input matInput type="email" name="email" ngModel placeholder="E-Mail" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" name="password" ngModel placeholder="Password" #passInput="ngModel" required>
            <mat-error *ngIf="passInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
    </form>
</mat-card>